<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>D:\cc_lockstep_framework\simulator\win32\cc_lockstep_framework.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>D:\cc_lockstep_framework\simulator\win32</StartWorkingDirectory>
  </propertyGroup>
</Project>